
    <!-- Page Content -->
    <div class="container">
             <div class="banner">
                <!-- <img class="banner-img" src="images/bannerFix.jpg" alt=""> -->
       
                <h1 class="home-header">ANYTIME COMPUTER SERVICES <i class="fa fa-wrench"></i>
                </h1>
                <small class= "banner-small">No fix, no charge | Free phone advice | Available afterhours</small>
         
   
             </div>

        
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Services
                    <small></small>
                </h1>
              
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
               <span class= "servicespic"> <img class="img-responsive" src="images/bannerFix.jpg" alt=""> </span>
               <span class= "servicespic"> <img class="img-responsive" src="images/virus.jpg" alt=""></span>
            </div>
            <div class="col-md-6">
            
                <h4><i class="fa fa-fw fa-check"></i>Computer Repair</h4>

                <li>Troubleshoot and repair software issues</li>
                <li>Troubleshoot and resolve hardware problems</li>
                <li>Remove viruses and software</li>
                <li>Resolve internet connection and email problems</li>
                <br>
                <h4><i class="fa fa-fw fa-check"></i>Data Recovery</h4>

                <li>Back up data and set up procedures for backing up</li>
                <li>Recover files that have been deleted or lost due to damaged hardware or malicious software</li>
                <br>


                <h4><i class="fa fa-fw fa-check"></i>Support</h4>

                <li>Provide training in the use of hardware and software</li>
                <li>One-on-one assistance with computer skills</li>
                <li>Computer upgrades</li>
                <li>Set up internet, email and new devices</li>
                <br>

                <span class="pcmac"><img src="images/PCMac.jpg" alt=""></span>
            </div>
        </div>
        <hr>


    


