<!-- Footer -->
        <footer >

<div class= "navbar-inverse" class="navbar-footer">

			<div class="row">
				
				<div class="col-lg-4">
				</div>
				<div class="col-lg-2">
					
						<li>
						<a href="#/home">Home</a>
						</li>
						<li>
						<a href="#/pricing">Pricing</a>
						</li>
						<li>
						<a href="#/contact">Contact</a>
						</li>
						<li>
						<a href="#/location">Location</a>
						</li>
					
				</div>
				
				<div class="col-lg-2">
					
						<li>
						David colls
						</li>
						<li>
						(04) 383-66915
						</li>
						<li>
						 adcolls@xtra.co.nz
						</li>
						
						<li>
						
						</li>
					

				</div>
				<div class="col-lg-2">
					
						
						<li>
						8 Murray St <br> Island Bay <br> Wellignton <br> New Zealand
						</li>
						<li>
						
						</li>
					

				</div>
				<div class="col-lg-2">

				</div>
			</div>
            <div class="row">
                <div class="col-lg-12">
                	<div class="footer-text">
                   <p>Anytime Computers Limited</p>
                   </div>
                </div>
            </div>

         </div>   
        </footer>
